*{
    padding: 0;
    margin: 0;
}

.active{
	font-weight: bolder;
}



@keyframes photoHome {
	0% {
		opacity: 0;
		transform: translateX(50px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
@keyframes textHome {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes Hello {
	0%,
	100% {
		transform: rotate(0deg);
		transform-origin: 50% 100%;
	}

	10% {
		transform: rotate(2deg);
	}

	20%,
	40%,
	60% {
		transform: rotate(-4deg);
	}

	30%,
	50%,
	70% {
		transform: rotate(4deg);
	}

	80% {
		transform: rotate(-2deg);
	}

	90% {
		transform: rotate(2deg);
	}
}



.js-scroll {
	opacity: 0;
	transition: opacity 500ms;
  }
  .js-scroll.scrolled {
	opacity: 1;
  }

.scrolled.fade-in {
	animation: fade-in 2s ease-in-out both;
  }
  @keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.scrolled.slide-right {
	animation: slide-in-right 1s ease-in-out both;
  }

.scrolled.slide-right2 {
	animation: slide-in-right 2.5s ease-in-out both;
  }

@keyframes slide-in-right {
	0% {
	  -webkit-transform: translateX(100px);
	  transform: translateX(100px);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: translateX(0);
	  transform: translateX(0);
	  opacity: 1;
	}
  }

  @media (min-width: 1200px){
	#concreator p{
		inline-size: 40vw;
	}
	#sosmed p{
		inline-size: 40vw;
	}
	#hello {
		width: 30% !important;
	}
	#FotoHome {
		width: 20% !important;
	}
	#Home a{
		width: 25% !important;
	}
	#workdocum p{
		inline-size: 50vw !important;
	}
	#workdocum img{
		width: 43% !important;
	}
	
	#imgHimcom{
		width: 39% !important;
	}
	#garis{
		width: 55% !important;
		
	}
	#iconsosmed i{
		font-size: 3vw !important;
	}
	#descBand{
		inline-size: 35rem !important;
	}
	#fotoband{
		margin: 1rem !important;
		width: 30% !important;
	}
	#sunib{
		inline-size: 30rem !important;
	}
	#sunibpro {
		padding: 8rem !important;
	}
	#slide{
		width: 30vw !important;
	}
	#greja{
		width: 15% !important;
	}
	#descYouth{
		inline-size: 50vw !important;
	}
	#descHimcom{
		inline-size: 50vw !important;
	}
	#imgGreja{
		display: block !important;
	}
	
  }
  .reveal{
	position: relative;
	transform: translateY(150px);
	opacity: 0;
	transition: 1s all ease;
  }
  
  .reveal.active{
	transform: translateY(0);
	opacity: 1;
  }
